<section id="loginPage">

    __STATUS_MODAL__

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="?p=home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Login</li>
        </ol>
    </nav>

    <div class="login-form">
        <form action="" method="POST">
            <div class="form-group">
                <label>Login</label>
                <input type="text" class="form-control" name="user_login" placeholder="User login" value="__INPUT_LOGIN__ ">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="user_pwd" placeholder="Password" value="__INPUT_PWD__">
            </div>
            <button type="submit" class="btn btn-success" name="submit">Login</button>
            <a href="?p=register" class="form-control btn btn-dark mt-3">Register</a>
        </form>
    </div>

</section>
