<section id="signinPage">

    __STATUS_MODAL__

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="?p=home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Register</li>
        </ol>
    </nav>

    <div class="login-form">
        <form action="#" method="POST">
            <div class="form-group">
                <label>E-mail</label>
                <input type="email" class="form-control" name="user_mail" placeholder="Email" value="__INPUT_EMAIL__">
            </div>
            <div class="form-group">
                <label>Login</label>
                <input type="text" class="form-control" name="user_login" placeholder="User login" value="__INPUT_LOGIN__">
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="user_name" placeholder="User Name" value="__INPUT_NAME__">
            </div>
            <div class="form-group">
                <label>Firstname</label>
                <input type="text" class="form-control" name="user_firstname" placeholder="User Firstname" value="__INPUT_FIRSTNAME__">
            </div>
            Gender
            <div class="form-group flex" id="form-gender">
                <label for="male">Male</label>
                <input type="radio" name="user_gender" id="male" value="m" __INPUT_GENDER_MALE__>
                <br>
                <label for="female">Female</label>
                <input type="radio" name="user_gender" id="female" value="f" __INPUT_GENDER_FEMALE__>
            </div>
            <div class="form-group">
                <label>Adress</label>
                <input type="text" class="form-control" name="user_adress" placeholder="User Adress" value="__INPUT_ADRESS__">
            </div>
            <div class="form-group">
                <label>Postal Code</label>
                <input type="text" class="form-control" name="user_code" placeholder="User Postal Code" value="__INPUT_CODE__">
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" name="user_city" placeholder="User City" value="__INPUT_CITY__">
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control" name="user_phone_number" placeholder="User phone number" value="__INPUT_PHONENUMBER__">
            </div>
            <div class="form-group">
                <label>Birth date</label>
                <input type="date" class="form-control" name="user_birth_date" value="__INPUT_BIRTHDATE__">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="user_pwd" placeholder="Password" value="__INPUT_PWD__">
            </div>

            <button type="submit" class="btn btn-success mt-3" name="submit">Register</button>
            <a href="?p=login" class="form-control btn btn-dark mt-3">Login</a>
        </form>
    </div>

</section>
