<section id="pageCocktail">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="?p=home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cocktail</li>
        </ol>
    </nav>

    <div id="recipe">
        __RECIPE__
    </div>

</section>