.clickable {
    cursor: pointer;
}

#content-wrapper.page-ctn {
    padding: 0 !important;
}

#content-wrapper.page-ctn .breadcrumb {
    border-radius: 0;
}

#goUp {
    position: fixed;
    bottom: .5em;
    right: .5em;
    padding: .5em 1em;
    background-color: rgba(0, 0, 0, .3);
}

footer {
    padding: 3em 0;
    margin-top: 10em;
    background-color: #F7F7F7;
}

#errorModal .alert,
#successModal .alert {
    text-align: center;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.card.recipe {
    align-self: center;
    max-width: 25vw;
    align-self: flex-start;
    width: 40%;
    margin: 1em;
}

.card.recipe .card-body .badge {
    margin: 0 .5em;
}

.card.recipe .card-footer .badge {
    margin: 0 .5em;
}

.recipe #isFavouriteIcon {
    position: absolute;
    right: .2em;
    top: .2em;
    font-size: 2em;
    opacity: .2;
    transition-duration: .2s;
}

.recipe #isFavouriteIcon:hover {
    color: rgb(238, 196, 43);
    opacity: 1;
}

.recipe #isFavouriteIcon.favourite {
    opacity: 1;
    color: rgb(238, 196, 43);
}