<div class="card recipe">
    <div class="card-header">
        <a href="?p=cocktail&id=__COCKTAIL_ID__">
            __COCKTAIL_NAME__
        </a>
    </div>
    <div class="card-body">
        __TAGS__
    </div>

    __SCORE__
</div>