<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="./index.php">Cocktail Project</a>

    <!-- Navbar Search -->
    <form action="?p=home" method="POST" class="d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"
        style="visibility: __SEARCHBAR_DISPLAY__ !important;" autocomplete="off">
        <div class="input-group">
            <div class="autocomplete">
                <input id="searchBarInput" type="text" class="form-control" placeholder="Search for..."
                    aria-label="Search" name="search_request">
            </div>
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" name="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="__LINK_TO_REGISTER_PAGE__">Register</a>
                <a class="dropdown-item" href="__LINK_TO_LOGIN_PAGE__">Login</a>
                <a class="dropdown-item" href="__LINK_TO_USER_SETTINGS_PAGE__"
                    style="display: __USER_FEATURE_DISPLAY__ !important;">
                    <i class="fas fa-cog"></i>
                    User Settings
                </a>
            </div>
        </li>
        <li class="nav-item no-arrow">
            <a class="nav-link" href="?p=favouriteRecipes">
                <i class="fas fa-star"></i>
            </a>
        </li>
    </ul>

</nav>