<section id="favouriteRecipesPage">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="?p=home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Favourite recipes</li>
        </ol>
    </nav>

    <div id="recipes">
        __RECIPES__
    </div>

</section>